.App {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  // background-color: #D4F4DD;
  // background-color: #0E7C7B;
  background-color: #EDECE8;

}

.container-wrapper {
}

p, ul, li, h1, h2, h3, h4 {
  margin: 0;
}

h2, h3 {
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
  font-weight: bold;
}

h3 {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #F2f7f7;
  width: 100%
}

h3 bg-secondary {
  width: 120rem;
}

.signup-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-col {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  width: 70%;
  background-color: #FFFFFF;
}

.button-primary {
  color: #8ab9b5;
  background-color: #8ab9b5;
}

.form-style {
  margin: 30px 0 20px 0;
  border: 3px soild #f2f7f7;
}

.form-input {}