.footer-background{
  margin-top: 5%;
}
footer {
<<<<<<< HEAD
  position: relative;
=======
>>>>>>> e5eac80430451d5308d5ed7e1d79c41fc17e17ea
  text-align: center;
  width: 100%;
<<<<<<< HEAD
  height: 2.5rem;
  top: 100%;
=======
>>>>>>> e5eac80430451d5308d5ed7e1d79c41fc17e17ea
}

footer p {
  color: rgb(19, 18, 18);
}