//mobile view
.svg-image-mobile {
  display:  inline-block;
  width:  100%;
  height:  100%;
}

.svg-image {
  display: none;
}

.pic {
  max-width:  100%;
  height:  80%;
  margin-bottom: 20%;
}

.welcomePageHeader {
  color:  #252525;
  margin-top:  4%;
  margin-left:  2%;
  margin-bottom:  5%;
  font-family:  "Ubuntu"; 
  font-size:  2.2rem;
  font-weight:  bold;
}
  
.tutor-student-row {
  margin-top:  1%;
  padding-left:  2%;
  margin-bottom:  1%;
}

.tutor-student-header {
  font-family:  "Ubuntu";
  font-size:  2.2rem;
   color :  #303131;
  font-weight:  bold;
}

.welcomePage-paragraph {
  color :  #737576;
  font-family:  "Ubuntu";
  font-size :  20px;
  font-weight:  bold;
}

.tutorBtn {
  background-color:  rgb(85, 236, 85);
  color:  white;
  width:  95%;
  height:  22%;;
  border:  1px solid  rgb(85, 236, 85);
  border-radius:  10px;
  text-align:  center;
  padding-top:  2%;
  font-size:  25px;

}

.tutorBtn:active {
  background-color:  #399FEB;
  color:  white;
  border:  1px solid #399FEB ;
}

.student-column {
  padding-top:  15%;
}

.studentBtn {
  background-color:  white;
  color:  rgb(85, 236, 85);
  width:  95%;
  height:  22%;;
  border:  1px solid  rgb(85, 236, 85);
  border-radius:  10px;
  text-align:  center;
  padding-top:  2%;
  font-size:  25px;

}

.studentBtn:active {
  background-color:  #399FEB;
  color:  white;
  border:  1px solid #399FEB ;
}

//ipad view
@media only screen and (min-width: 700px) and (max-width: 1039px) { 
.welcomePageHeader {
  color :  #252525;
  margin-top:  4%;
  margin-left:  5%;
  margin-bottom:  5%;
  font-family:  "Ubuntu"; 
  font-size:  2.5rem !important;
  font-weight:  bold;
}

.tutor-student-row {
  margin-top:  1%;
  padding-left:  5%;
  margin-bottom:  1%;
}

.tutor-student-header {
  font-family:  "Ubuntu";
  font-size:  2.5rem;
  color:  #303131;
  font-weight:  bold;
}
  
.welcomePage-paragraph {
  color:  #737576;
  font-family:  "Ubuntu";
  font-size:  30px;
  font-weight:  bold;
}
  
  
.tutorBtn {
  background-color:  rgb(85, 236, 85);
  color:  white;
  width:  95%;
  height:  22%;;
  border:  1px solid  rgb(85, 236, 85);
  border-radius:  10px;
  text-align:  center;
  padding-top:  1%;
  font-size:  30px;
  
}
  
.tutorBtn:active {
  background-color:  #399FEB;
  color:  white;
  border:  1px solid #399FEB ;
}
  
.student-column {
  padding-top:  15%;
}
  
.studentBtn {
  background-color:  white;
  color:  rgb(85, 236, 85);
  width:  95%;
  height:  26%;
  border:  1px solid  rgb(85, 236, 85);
  border-radius:  10px;
  text-align:  center;
  padding-top:  1%;
  font-size:  30px;  
}
  
.studentBtn:active {
  background-color:  #399FEB;
  color:  white;
  border:  1px solid #399FEB;
}  
}

//desktop view
@media only screen and (min-width: 1040px) {
.svg-image-mobile {
  display: none;
}
.svg-image {
  display: block;
  width: 100%;
  height: 100%;
}

.pic {
  max-width: 90%;
  height: 80%;
  margin-bottom: 0;
}

.welcomePageHeader {
 color: #252525;
 margin-top: 0;
 margin-left: 7.5%;
 margin-bottom: 5%;
 font-family: "Ubuntu"; 
 font-size: 2.5rem !important;
 font-weight: bold;
}
  
.tutor-student-row {
  margin-top : 1%;
  padding-left: 7.5%;
  margin-bottom: 1%;
}

.tutor-student-header{
  font-family: "Ubuntu";
  font-size: 2.5rem !important;
   color: #303131;
  // color : white;
  font-weight: bold;
}

.welcomePage-paragraph {
  color: #737576;
  font-family: "Ubuntu";
  font-size: 17px;
  font-weight: bold;
}


.tutorBtn {
  background-color: rgb(85, 236, 85);
  color: white;
  width: 100%;
  height: 22%;;
  border: 1px solid  rgb(85, 236, 85);
  border-radius : 10px;
  text-align: center;
  padding-top: 5%;
  font-size: 20px;
  cursor: pointer;

}

.tutorBtn:hover {
  background-color: #399FEB;
  color : white;
  border: 1px solid #399FEB ;
}

.student-column {
  padding-top: 0;
}

.studentBtn {
  background-color: white;
  color: rgb(85, 236, 85);
  width: 100%;
  height: 22%;;
  border: 1px solid  rgb(85, 236, 85);
  border-radius: 10px;
  text-align: center;
  padding-top: 5%;
  font-size: 20px;
  cursor: pointer;

}

.studentBtn:hover {
  background-color: #399FEB;
  color: white;
  border: 1px solid #399FEB ;
}
}
  