//mobile design
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.2rem;
  font-weight: bold;
  margin-left: 0;
  color: white;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  color: black;
  font-weight: bold;
}

//ipad pro view
@media only screen and (min-width: 768px) and (max-width: 1039px) {
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem !important;
    font-weight: bold;
    margin-left: 3%;
    color: white;
 }
}

//desktop design
@media only screen and (min-width: 1040px) {
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem !important;
  font-weight: bold;
  margin-left: 5%;
  color: white;
}
  
nav.navbar {
  padding: 40px;
}
  
.item {
  color: black;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  color: black;
  font-weight: bold;
}

.item:hover {
 background-color: white;
}
}
  