.navbar-brand{
    font-family:"Ubuntu";
    font-size:2.5rem !important;
    font-weight:bold;
  }
  
  nav.navbar{
    padding:40px;
  }
  
  .nav-item{
    padding:0 18px;
  }

  .nav-link{
    font-size: 1.2rem;
    font-family:"Montserrat";
  
  }
  