// .login-wrapper {
//   border: 1px solid red;
//   display: flex;
//   background-color: #FFFFFF;
// }

// .left-col {
//   align-items: left;
//   justify-content: left; 
//   width: 70%;
//   margin-top: 80px;
// }

// .form-style-col1 {
//   border: 3px soild #f2f7f7;

// }

// .form-style-col2 {
//   margin: 50px 0 20px 0
// }
