.slideImage {  
  width:100%;
  margin:20px;
  // height: 100vh;
}

svg {
  margin: 20px;
}

.carouselItem img {
  width:100%;
  height: 100vh;
}

.carouselItem {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
  
@media (max-width: 900px) {
  .carousel {
    width:auto;
    height:auto;
  }
}

